<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 这里的namespace名字必须为执行该sql的dao地址&nbsp; -->
<mapper namespace="com.tiantian.mapper.AdviceMapper">
	
	<resultMap type="com.tiantian.domain.Advice" id="AdviceMap">
		<id property="id" column="id" jdbcType="BIGINT"/>
		<result property="userId" column="user_id" jdbcType="BIGINT"/>
		<result property="adviceContent" column="advice_content" jdbcType="VARCHAR"/>
		<result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
		<result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
	</resultMap>
	
	<insert id="makeAdvice">
	  insert into t_advice(user_id,adviceContent)
	  values
	  (#{userId},#{advice});
	</insert>
	
</mapper>