<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 这里的namespace名字必须为执行该sql的dao地址&nbsp; -->
<mapper namespace="com.tiantian.mapper.ProductMapper">
	<!-- INSERT INTO t_user(mobile_no,user_name,nick_name,identity_id,home_addr,company_addr,gender,birthday,picture_url,first_load_time) 
		VALUES( #{mobileNo}, #{userName}, #{nickName}, #{identityId}, #{homeAddr}, 
		#{companyAddr}, #{gender}, #{birthday}, #{pictureUrl}, #{firstLoadTime}, 
		) -->

	<resultMap type="com.tiantian.domain.Product" id="ProductMap">
		<id property="productId" column="product_id" jdbcType="BIGINT"/>
		<result property="productTypeId" column="product_type_id" jdbcType="INTEGER"/>
		<result property="userId" column="user_id" jdbcType="BIGINT"/>
		<result property="productTitle" column="product_title" jdbcType="VARCHAR"/>
		<result property="productSummary" column="product_summary" jdbcType="VARCHAR"/>
		<result property="productPic" column="product_pic" jdbcType="VARCHAR"/>
		<result property="productPrice" column="product_price" jdbcType="VARCHAR"/>
		<result property="productUnit" column="product_unit" jdbcType="VARCHAR"/>		
		<result property="productStatus" column="product_status" jdbcType="INTEGER"/>
		<result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
		<result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
		
	</resultMap>
	
	<insert id="createProduct" parameterType="com.tiantian.domain.Product">
	   insert into t_product(product_type_id,user_id,product_title,product_summary,product_pic,product_price,product_unit,product_status) 
	   values(#{productTypeId},#{userId},#{productTitle},#{productSummary},#{productPic},#{productPrice},#{productUnit},#{productStatus})
	</insert>
	
	<select id="getProductById" parameterType="Long" resultMap="ProductMap">
	   select product_id, product_type_id,user_id,product_title,product_summary,product_pic,product_price,product_unit,product_status,create_time,update_time
	   from t_product 
	   where 
	   product_id = #{productId}
	</select>
	
	

</mapper>