<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 这里的namespace名字必须为执行该sql的dao地址&nbsp; -->
<mapper namespace="com.tiantian.mapper.ProductTypeMapper">
	
	<resultMap type="com.tiantian.domain.ProductType" id="ProductTypeMap">
		<id property="id" column="id" jdbcType="BIGINT"/>
		<result property="name" column="NAME" jdbcType="VARCHAR"/>
		<result property="status" column="status" jdbcType="INTEGER"/>
		<result property="pic" column="pic" jdbcType="VARCHAR"/>
		<result property="rank" column="rank" jdbcType="INTEGER"/>
		<result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
		<result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
	</resultMap>
	
	<select id="getFunctions" resultMap="ProductTypeMap">
	  select id,name,status,pic,rank,create_time,update_time
	  from p_product_type
	  where status = 1 order by rank;
	</select>
	
</mapper>